<a href="https://colab.research.google.com/github/imrankhan9011/classpracticss/blob/main/Pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Salaries.csv')

In [3]:
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
#first 5 records in dataset
df.head()

   rank discipline  phd  service   sex  salary
0  Prof          B   56       49  Male  186960
1  Prof          A   12        6  Male   93000
2  Prof          A   23       20  Male  110515
3  Prof          A   40       31  Male  131205
4  Prof          B   20       18  Male  104800

In [6]:
df.head(10)

        rank discipline  phd  service   sex  salary
0       Prof          B   56       49  Male  186960
1       Prof          A   12        6  Male   93000
2       Prof          A   23       20  Male  110515
3       Prof          A   40       31  Male  131205
4       Prof          B   20       18  Male  104800
5       Prof          A   20       20  Male  122400
6  AssocProf          A   20       17  Male   81285
7       Prof          A   18       18  Male  126300
8       Prof          A   29       19  Male   94350
9       Prof          A   51       51  Male   57800

In [7]:
#to display our bottom 5 records
df.tail()

         rank discipline  phd  service     sex  salary
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [8]:
#to display bottom 10 records
df.tail(10)

         rank discipline  phd  service     sex  salary
68   AsstProf          A    4        2  Female   77500
69       Prof          A   28        7  Female  116450
70   AsstProf          A    8        3  Female   78500
71  AssocProf          B   12        9  Female   71065
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [9]:
#print function
print(df)

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
..        ...        ...  ...      ...     ...     ...
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

[78 rows x 6 columns]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   rank        78 non-null     object
 1   discipline  78 non-null     object
 2   phd         78 non-null     int64
 3   service     78 non-null     int64
 4   sex         78 non-null     object
 5   salary      78 non-null     int64
dtypes: int64(3), object(3)
memory usage: 3.8+ KB

In [11]:
#to check our null values
df.isnull().sum()

rank          0
discipline    0
phd           0
service       0
sex           0
salary        0
dtype: int64

In [12]:
df.isnull()

     rank  discipline    phd  service    sex  salary
0   False       False  False    False  False   False
1   False       False  False    False  False   False
2   False       False  False    False  False   False
3   False       False  False    False  False   False
4   False       False  False    False  False   False
..    ...         ...    ...      ...    ...     ...
73  False       False  False    False  False   False
74  False       False  False    False  False   False
75  False       False  False    False  False   False
76  False       False  False    False  False   False
77  False       False  False    False  False   False

[78 rows x 6 columns]

In [13]:
pd.set_option('display.max_rows', None)
df.isnull()

     rank  discipline    phd  service    sex  salary
0   False       False  False    False  False   False
1   False       False  False    False  False   False
2   False       False  False    False  False   False
3   False       False  False    False  False   False
4   False       False  False    False  False   False
5   False       False  False    False  False   False
6   False       False  False    False  False   False
7   False       False  False    False  False   False
8   False       False  False    False  False   False
9   False       False  False    False  False   False
10  False       False  False    False  False   False
11  False       False  False    False  False   False
12  False       False  False    False  False   False
13  False       False  False    False  False   False
14  False       False  False    False  False   False
15  False       False  False    False  False   False
16  False       False  False    False  False   False
17  False       False  False    False  False   False
18  False       False  False    False  False   False
19  False       False  False    False  False   False
20  False       False  False    False  False   False
21  False       False  False    False  False   False
22  False       False  False    False  False   False
23  False       False  False    False  False   False
24  False       False  False    False  False   False
25  False       False  False    False  False   False
26  False       False  False    False  False   False
27  False       False  False    False  False   False
28  False       False  False    False  False   False
29  False       False  False    False  False   False
30  False       False  False    False  False   False
31  False       False  False    False  False   False
32  False       False  False    False  False   False
33  False       False  False    False  False   False
34  False       False  False    False  False   False
35  False       False  False    False  False   False
36  False       False  False    False  False   False
37  False       False  False    False  False   False
38  False       False  False    False  False   False
39  False       False  False    False  False   False
40  False       False  False    False  False   False
41  False       False  False    False  False   False
42  False       False  False    False  False   False
43  False       False  False    False  False   False
44  False       False  False    False  False   False
45  False       False  False    False  False   False
46  False       False  False    False  False   False
47  False       False  False    False  False   False
48  False       False  False    False  False   False
49  False       False  False    False  False   False
50  False       False  False    False  False   False
51  False       False  False    False  False   False
52  False       False  False    False  False   False
53  False       False  False    False  False   False
54  False       False  False    False  False   False
55  False       False  False    False  False   False
56  False       False  False    False  False   False
57  False       False  False    False  False   False
58  False       False  False    False  False   False
59  False       False  False    False  False   False
60  False       False  False    False  False   False
61  False       False  False    False  False   False
62  False       False  False    False  False   False
63  False       False  False    False  False   False
64  False       False  False    False  False   False
65  False       False  False    False  False   False
66  False       False  False    False  False   False
67  False       False  False    False  False   False
68  False       False  False    False  False   False
69  False       False  False    False  False   False
70  False       False  False    False  False   False
71  False       False  False    False  False   False
72  False       False  False    False  False   False
73  False       False  False    False  False   False
74  False       False  False    False  False   False
75  False       False  False    False  False   False
76  False       False  False    False  False   False
77  False       False  False    False  False   False

In [14]:
df.notnull()

    rank  discipline   phd  service   sex  salary
0   True        True  True     True  True    True
1   True        True  True     True  True    True
2   True        True  True     True  True    True
3   True        True  True     True  True    True
4   True        True  True     True  True    True
5   True        True  True     True  True    True
6   True        True  True     True  True    True
7   True        True  True     True  True    True
8   True        True  True     True  True    True
9   True        True  True     True  True    True
10  True        True  True     True  True    True
11  True        True  True     True  True    True
12  True        True  True     True  True    True
13  True        True  True     True  True    True
14  True        True  True     True  True    True
15  True        True  True     True  True    True
16  True        True  True     True  True    True
17  True        True  True     True  True    True
18  True        True  True     True  True    True
19  True        True  True     True  True    True
20  True        True  True     True  True    True
21  True        True  True     True  True    True
22  True        True  True     True  True    True
23  True        True  True     True  True    True
24  True        True  True     True  True    True
25  True        True  True     True  True    True
26  True        True  True     True  True    True
27  True        True  True     True  True    True
28  True        True  True     True  True    True
29  True        True  True     True  True    True
30  True        True  True     True  True    True
31  True        True  True     True  True    True
32  True        True  True     True  True    True
33  True        True  True     True  True    True
34  True        True  True     True  True    True
35  True        True  True     True  True    True
36  True        True  True     True  True    True
37  True        True  True     True  True    True
38  True        True  True     True  True    True
39  True        True  True     True  True    True
40  True        True  True     True  True    True
41  True        True  True     True  True    True
42  True        True  True     True  True    True
43  True        True  True     True  True    True
44  True        True  True     True  True    True
45  True        True  True     True  True    True
46  True        True  True     True  True    True
47  True        True  True     True  True    True
48  True        True  True     True  True    True
49  True        True  True     True  True    True
50  True        True  True     True  True    True
51  True        True  True     True  True    True
52  True        True  True     True  True    True
53  True        True  True     True  True    True
54  True        True  True     True  True    True
55  True        True  True     True  True    True
56  True        True  True     True  True    True
57  True        True  True     True  True    True
58  True        True  True     True  True    True
59  True        True  True     True  True    True
60  True        True  True     True  True    True
61  True        True  True     True  True    True
62  True        True  True     True  True    True
63  True        True  True     True  True    True
64  True        True  True     True  True    True
65  True        True  True     True  True    True
66  True        True  True     True  True    True
67  True        True  True     True  True    True
68  True        True  True     True  True    True
69  True        True  True     True  True    True
70  True        True  True     True  True    True
71  True        True  True     True  True    True
72  True        True  True     True  True    True
73  True        True  True     True  True    True
74  True        True  True     True  True    True
75  True        True  True     True  True    True
76  True        True  True     True  True    True
77  True        True  True     True  True    True

In [15]:
#to check the shape of our dataframe
df.shape

(78, 6)

In [16]:
#to check the names of the columns in dataset
df.columns

Index(['rank', 'discipline', 'phd', 'service', 'sex', 'salary'], dtype='object')

In [17]:
df.describe()

             phd    service         salary
count  78.000000  78.000000      78.000000
mean   19.705128  15.051282  108023.782051
std    12.498425  12.139768   28293.661022
min     1.000000   0.000000   57800.000000
25%    10.250000   5.250000   88612.500000
50%    18.500000  14.500000  104671.000000
75%    27.750000  20.750000  126774.750000
max    56.000000  51.000000  186960.000000

In [18]:
df['salary']

0     186960
1      93000
2     110515
3     131205
4     104800
5     122400
6      81285
7     126300
8      94350
9      57800
10    128250
11    134778
12     88000
13    162200
14    153750
15    150480
16     75044
17     92000
18    107300
19    150500
20     92000
21    103106
22     73000
23     85000
24     91100
25     99418
26    148750
27    155865
28     91300
29    123683
30    107008
31    155750
32    103275
33    120000
34    119800
35    126933
36    146856
37    102000
38     91000
39    129000
40    137000
41     74830
42     80225
43     77000
44    151768
45    140096
46     74692
47    103613
48    111512
49    122960
50     97032
51    127512
52    105000
53     73500
54     62884
55     72500
56     77500
57     72500
58    144651
59    103994
60     92000
61    103750
62    109650
63     91000
64     73300
65    117555
66     63100
67     90450
68     77500
69    116450
70     78500
71     71065
72    161101
73    105450
74    104542
75    124312
76    109954
77    109646
Name: salary, dtype: int64

In [19]:
df[['salary', 'service','phd']]

    salary  service  phd
0   186960       49   56
1    93000        6   12
2   110515       20   23
3   131205       31   40
4   104800       18   20
5   122400       20   20
6    81285       17   20
7   126300       18   18
8    94350       19   29
9    57800       51   51
10  128250       33   39
11  134778       23   23
12   88000        0    1
13  162200       33   35
14  153750       19   25
15  150480        3   17
16   75044        3    8
17   92000        0    4
18  107300        7   19
19  150500       27   29
20   92000        4    4
21  103106       30   33
22   73000        2    4
23   85000        0    2
24   91100       23   30
25   99418       31   35
26  148750       19   38
27  155865       43   45
28   91300        2    7
29  123683       20   21
30  107008        7    9
31  155750       21   22
32  103275       19   27
33  120000       18   18
34  119800        8   12
35  126933       23   28
36  146856       45   45
37  102000        8   20
38   91000        3    4
39  129000       18   18
40  137000       36   39
41   74830        8   13
42   80225        2    4
43   77000        0    5
44  151768       19   23
45  140096       25   25
46   74692        3   11
47  103613       11   11
48  111512       17   17
49  122960       18   17
50   97032        5   10
51  127512       14   20
52  105000        0   12
53   73500        3    5
54   62884       22   25
55   72500        0    2
56   77500        8   10
57   72500        1    3
58  144651       26   36
59  103994       10   12
60   92000        3    3
61  103750       10   13
62  109650        7   14
63   91000       27   29
64   73300       24   26
65  117555       19   36
66   63100        6    7
67   90450       11   17
68   77500        2    4
69  116450        7   28
70   78500        3    8
71   71065        9   12
72  161101       15   24
73  105450       10   18
74  104542        6   19
75  124312       17   17
76  109954       14   28
77  109646       15   23

In [20]:
import warnings
warnings.filterwarnings('ignore')
df.mean()

phd            19.705128
service        15.051282
salary     108023.782051
dtype: float64

In [21]:
df['salary'].mean()

108023.78205128205

In [22]:
df['salary'].median()

104671.0

In [23]:
df['salary'].mode()

0    92000
Name: salary, dtype: int64

In [24]:
df['salary'].var()

800531254.0427907

In [25]:
df['salary'].std()

28293.66102226417

In [26]:
df['salary'].skew()

0.45210256755588096

In [27]:
df['salary'].kurt()

-0.4017126758820546

In [28]:
df['salary'].min()

57800

In [29]:
df['salary'].max()

186960

In [30]:
df['rank'].value_counts()

Prof         46
AsstProf     19
AssocProf    13
Name: rank, dtype: int64

In [31]:
df.iloc[:,:]

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
5        Prof          A   20       20    Male  122400
6   AssocProf          A   20       17    Male   81285
7        Prof          A   18       18    Male  126300
8        Prof          A   29       19    Male   94350
9        Prof          A   51       51    Male   57800
10       Prof          B   39       33    Male  128250
11       Prof          B   23       23    Male  134778
12   AsstProf          B    1        0    Male   88000
13       Prof          B   35       33    Male  162200
14       Prof          B   25       19    Male  153750
15       Prof          B   17        3    Male  150480
16   AsstProf          B    8        3    Male   75044
17   AsstProf          B    4        0    Male   92000
18       Prof          A   19        7    Male  107300
19       Prof          A   29       27    Male  150500
20   AsstProf          B    4        4    Male   92000
21       Prof          A   33       30    Male  103106
22   AsstProf          A    4        2    Male   73000
23   AsstProf          A    2        0    Male   85000
24       Prof          A   30       23    Male   91100
25       Prof          B   35       31    Male   99418
26       Prof          A   38       19    Male  148750
27       Prof          A   45       43    Male  155865
28   AsstProf          B    7        2    Male   91300
29       Prof          B   21       20    Male  123683
30  AssocProf          B    9        7    Male  107008
31       Prof          B   22       21    Male  155750
32       Prof          A   27       19    Male  103275
33       Prof          B   18       18    Male  120000
34  AssocProf          B   12        8    Male  119800
35       Prof          B   28       23    Male  126933
36       Prof          B   45       45    Male  146856
37       Prof          A   20        8    Male  102000
38   AsstProf          B    4        3    Male   91000
39       Prof          B   18       18  Female  129000
40       Prof          A   39       36  Female  137000
41  AssocProf          A   13        8  Female   74830
42   AsstProf          B    4        2  Female   80225
43   AsstProf          B    5        0  Female   77000
44       Prof          B   23       19  Female  151768
45       Prof          B   25       25  Female  140096
46   AsstProf          B   11        3  Female   74692
47  AssocProf          B   11       11  Female  103613
48       Prof          B   17       17  Female  111512
49       Prof          B   17       18  Female  122960
50   AsstProf          B   10        5  Female   97032
51       Prof          B   20       14  Female  127512
52       Prof          A   12        0  Female  105000
53   AsstProf          A    5        3  Female   73500
54  AssocProf          A   25       22  Female   62884
55   AsstProf          A    2        0  Female   72500
56  AssocProf          A   10        8  Female   77500
57   AsstProf          A    3        1  Female   72500
58       Prof          B   36       26  Female  144651
59  AssocProf          B   12       10  Female  103994
60   AsstProf          B    3        3  Female   92000
61  AssocProf          B   13       10  Female  103750
62  AssocProf          B   14        7  Female  109650
63       Prof          A   29       27  Female   91000
64  AssocProf          A   26       24  Female   73300
65       Prof          A   36       19  Female  117555
66   AsstProf          A    7        6  Female   63100
67       Prof          A   17       11  Female   90450
68   AsstProf          A    4        2  Female   77500
69       Prof          A   28        7  Female  116450
70   AsstProf          A    8        3  Female   78500
71  AssocProf          B   12        9  Female   71065
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [32]:
df.iloc[0:50,:]

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
5        Prof          A   20       20    Male  122400
6   AssocProf          A   20       17    Male   81285
7        Prof          A   18       18    Male  126300
8        Prof          A   29       19    Male   94350
9        Prof          A   51       51    Male   57800
10       Prof          B   39       33    Male  128250
11       Prof          B   23       23    Male  134778
12   AsstProf          B    1        0    Male   88000
13       Prof          B   35       33    Male  162200
14       Prof          B   25       19    Male  153750
15       Prof          B   17        3    Male  150480
16   AsstProf          B    8        3    Male   75044
17   AsstProf          B    4        0    Male   92000
18       Prof          A   19        7    Male  107300
19       Prof          A   29       27    Male  150500
20   AsstProf          B    4        4    Male   92000
21       Prof          A   33       30    Male  103106
22   AsstProf          A    4        2    Male   73000
23   AsstProf          A    2        0    Male   85000
24       Prof          A   30       23    Male   91100
25       Prof          B   35       31    Male   99418
26       Prof          A   38       19    Male  148750
27       Prof          A   45       43    Male  155865
28   AsstProf          B    7        2    Male   91300
29       Prof          B   21       20    Male  123683
30  AssocProf          B    9        7    Male  107008
31       Prof          B   22       21    Male  155750
32       Prof          A   27       19    Male  103275
33       Prof          B   18       18    Male  120000
34  AssocProf          B   12        8    Male  119800
35       Prof          B   28       23    Male  126933
36       Prof          B   45       45    Male  146856
37       Prof          A   20        8    Male  102000
38   AsstProf          B    4        3    Male   91000
39       Prof          B   18       18  Female  129000
40       Prof          A   39       36  Female  137000
41  AssocProf          A   13        8  Female   74830
42   AsstProf          B    4        2  Female   80225
43   AsstProf          B    5        0  Female   77000
44       Prof          B   23       19  Female  151768
45       Prof          B   25       25  Female  140096
46   AsstProf          B   11        3  Female   74692
47  AssocProf          B   11       11  Female  103613
48       Prof          B   17       17  Female  111512
49       Prof          B   17       18  Female  122960

In [33]:
df.iloc[0:50,0:3]

         rank discipline  phd
0        Prof          B   56
1        Prof          A   12
2        Prof          A   23
3        Prof          A   40
4        Prof          B   20
5        Prof          A   20
6   AssocProf          A   20
7        Prof          A   18
8        Prof          A   29
9        Prof          A   51
10       Prof          B   39
11       Prof          B   23
12   AsstProf          B    1
13       Prof          B   35
14       Prof          B   25
15       Prof          B   17
16   AsstProf          B    8
17   AsstProf          B    4
18       Prof          A   19
19       Prof          A   29
20   AsstProf          B    4
21       Prof          A   33
22   AsstProf          A    4
23   AsstProf          A    2
24       Prof          A   30
25       Prof          B   35
26       Prof          A   38
27       Prof          A   45
28   AsstProf          B    7
29       Prof          B   21
30  AssocProf          B    9
31       Prof          B   22
32       Prof          A   27
33       Prof          B   18
34  AssocProf          B   12
35       Prof          B   28
36       Prof          B   45
37       Prof          A   20
38   AsstProf          B    4
39       Prof          B   18
40       Prof          A   39
41  AssocProf          A   13
42   AsstProf          B    4
43   AsstProf          B    5
44       Prof          B   23
45       Prof          B   25
46   AsstProf          B   11
47  AssocProf          B   11
48       Prof          B   17
49       Prof          B   17

In [34]:
df.iloc[0:50,[1,3,5]]

   discipline  service  salary
0           B       49  186960
1           A        6   93000
2           A       20  110515
3           A       31  131205
4           B       18  104800
5           A       20  122400
6           A       17   81285
7           A       18  126300
8           A       19   94350
9           A       51   57800
10          B       33  128250
11          B       23  134778
12          B        0   88000
13          B       33  162200
14          B       19  153750
15          B        3  150480
16          B        3   75044
17          B        0   92000
18          A        7  107300
19          A       27  150500
20          B        4   92000
21          A       30  103106
22          A        2   73000
23          A        0   85000
24          A       23   91100
25          B       31   99418
26          A       19  148750
27          A       43  155865
28          B        2   91300
29          B       20  123683
30          B        7  107008
31          B       21  155750
32          A       19  103275
33          B       18  120000
34          B        8  119800
35          B       23  126933
36          B       45  146856
37          A        8  102000
38          B        3   91000
39          B       18  129000
40          A       36  137000
41          A        8   74830
42          B        2   80225
43          B        0   77000
44          B       19  151768
45          B       25  140096
46          B        3   74692
47          B       11  103613
48          B       17  111512
49          B       18  122960

In [35]:
df.loc[0,'salary']

186960

In [36]:
df

         rank discipline  phd  service     sex  salary
0        Prof          B   56       49    Male  186960
1        Prof          A   12        6    Male   93000
2        Prof          A   23       20    Male  110515
3        Prof          A   40       31    Male  131205
4        Prof          B   20       18    Male  104800
5        Prof          A   20       20    Male  122400
6   AssocProf          A   20       17    Male   81285
7        Prof          A   18       18    Male  126300
8        Prof          A   29       19    Male   94350
9        Prof          A   51       51    Male   57800
10       Prof          B   39       33    Male  128250
11       Prof          B   23       23    Male  134778
12   AsstProf          B    1        0    Male   88000
13       Prof          B   35       33    Male  162200
14       Prof          B   25       19    Male  153750
15       Prof          B   17        3    Male  150480
16   AsstProf          B    8        3    Male   75044
17   AsstProf          B    4        0    Male   92000
18       Prof          A   19        7    Male  107300
19       Prof          A   29       27    Male  150500
20   AsstProf          B    4        4    Male   92000
21       Prof          A   33       30    Male  103106
22   AsstProf          A    4        2    Male   73000
23   AsstProf          A    2        0    Male   85000
24       Prof          A   30       23    Male   91100
25       Prof          B   35       31    Male   99418
26       Prof          A   38       19    Male  148750
27       Prof          A   45       43    Male  155865
28   AsstProf          B    7        2    Male   91300
29       Prof          B   21       20    Male  123683
30  AssocProf          B    9        7    Male  107008
31       Prof          B   22       21    Male  155750
32       Prof          A   27       19    Male  103275
33       Prof          B   18       18    Male  120000
34  AssocProf          B   12        8    Male  119800
35       Prof          B   28       23    Male  126933
36       Prof          B   45       45    Male  146856
37       Prof          A   20        8    Male  102000
38   AsstProf          B    4        3    Male   91000
39       Prof          B   18       18  Female  129000
40       Prof          A   39       36  Female  137000
41  AssocProf          A   13        8  Female   74830
42   AsstProf          B    4        2  Female   80225
43   AsstProf          B    5        0  Female   77000
44       Prof          B   23       19  Female  151768
45       Prof          B   25       25  Female  140096
46   AsstProf          B   11        3  Female   74692
47  AssocProf          B   11       11  Female  103613
48       Prof          B   17       17  Female  111512
49       Prof          B   17       18  Female  122960
50   AsstProf          B   10        5  Female   97032
51       Prof          B   20       14  Female  127512
52       Prof          A   12        0  Female  105000
53   AsstProf          A    5        3  Female   73500
54  AssocProf          A   25       22  Female   62884
55   AsstProf          A    2        0  Female   72500
56  AssocProf          A   10        8  Female   77500
57   AsstProf          A    3        1  Female   72500
58       Prof          B   36       26  Female  144651
59  AssocProf          B   12       10  Female  103994
60   AsstProf          B    3        3  Female   92000
61  AssocProf          B   13       10  Female  103750
62  AssocProf          B   14        7  Female  109650
63       Prof          A   29       27  Female   91000
64  AssocProf          A   26       24  Female   73300
65       Prof          A   36       19  Female  117555
66   AsstProf          A    7        6  Female   63100
67       Prof          A   17       11  Female   90450
68   AsstProf          A    4        2  Female   77500
69       Prof          A   28        7  Female  116450
70   AsstProf          A    8        3  Female   78500
71  AssocProf          B   12        9  Female   71065
72       Prof          B   24       15  Female  161101
73       Prof          B   18       10  Female  105450
74  AssocProf          B   19        6  Female  104542
75       Prof          B   17       17  Female  124312
76       Prof          A   28       14  Female  109954
77       Prof          A   23       15  Female  109646

In [37]:
df.groupby(by='rank').mean()

                 phd    service         salary
rank
AssocProf  15.076923  11.307692   91786.230769
AsstProf    5.052632   2.210526   81362.789474
Prof       27.065217  21.413043  123624.804348

In [41]:
df.groupby(by ='rank')[['salary','phd']].mean()

                  salary        phd
rank
AssocProf   91786.230769  15.076923
AsstProf    81362.789474   5.052632
Prof       123624.804348  27.065217

In [44]:
import pandas as pd